:root {
    --white: #fff;
    --gray-100: #e1e1e6;
    --gray-300: #c4c4cc;
    --gray-400:#8d8d99;
    --gray-600:#323238;
    --gray-700:#29292e;
    --gray-800:#202024;
    --gray-900:#121214;

    --purple-500 :#6200ea;
}

/* reset para remover margens e paddings padrões do navegador 
 e definir a caixa de conteúdo como border-box */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #121214;
    color: #fff;
    margin: 0;
    padding: 0;
}
