.header {
    background-color: var(--gray-800);
    color: white;
    padding: 1.25rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .header img {
    height: 2.50rem;
    margin-right: 1rem; /* Adiciona um espaço entre a logo e o título */
   
  }

 